body {
  background-color: #182536;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;

}

@media screen and (min-width: 0px) and (max-width: 630px) {
  #parallax { display: none; }  /* hide it on small screens */
}

@media screen and (min-width: 631px) and (max-width: 1024px) {
  #parallax { display: block; }   /* show it elsewhere */
}



.title {
  font-weight: bold;
}


.parallax-window {
    min-height: 480px;
    background: transparent;
}

h4 {
  color: #182536;
  font-weight: bold;
}
.imgjs{
  margin-top: 80%;
  width: 80px;
  height: 80px;
}
.imgcss, .imghtml  {
  margin-top: 50%;
  width: 80px;
  height: 80px;

}

.imgphp {
  margin-top: 50%;
  width: 65px;
  height: 65px;
}

.imgoutils {
  margin-top: 80%;
  width: 80px;
  height: 80px;
}
