body {
  background-color: #182536;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 18px;
}
#modal1 .modal-footer {
  background-color: #182536;
}
#modal1 {
  background-color: #182536;
}

h4 {
  color: #182536;
  font-family: 'Pacifico', cursive;

}

@media screen and (min-width: 0px) and (max-width: 630px) {
  #parallax { display: none; }
}

@media screen and (min-width: 631px) and (max-width: 1024px) {
  #parallax { display: block; }
}

.title {
  font-weight: bold;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
}
.link {
  color: #182536;
}

.parallax-window {
    min-height: 550px;
    background: transparent;
}

.imgjs{
  margin-top: 80%;
  width: 80px;
  height: 80px;
}
.imgcss, .imghtml  {
  margin-top: 50%;
  width: 80px;
  height: 80px;

}

.imgphp, .imgmysql {
  margin-top: 10%;
  width: 65px;
  height: 65px;
}
.imgapache {
  margin-top: 30%;
  width: 45px;
  height: 45px;
}

.imgoutils {
  margin-top: 80%;
  width: 80px;
  height: 80px;
}

.btnFixed {
    position: fixed !important;
  }
.secondicon{
  margin-left: 30%;
}
